<div class = "container-fluid text-center">
    <h1>{{confirm}}</h1>
</div>

<div class = "container-fluid-2 text-center paddingBodyText">
<h2>Here is your order information:</h2>
<h3>Name: {{name}}</h3>
<h3>Location: {{city}}</h3>
<h3>Time: {{time}} </h3>

<div class = "container-fluid buttonDifferentiator">

<!--because path is blank and path for redirect to landing and landing path blank, takes you back home-->
<a class="btn btn-primary text-uppercase font-weight-lighter btn-outline-light" routerLink = "" role ="button">BACK HOME</a>
</div>

<!--<a class="btn btn-primary text-uppercase font-weight-lighter btn-outline-light" routerLink = "../reservations" role = "button">NEW RESERVATION</a>-->

</div>




