<header class = "page-header font-large orange"> 

    <div class = "container-fluid text-left">

        <div class = "row margin-left paddingX">

        <h1 routerLink = "landing">{{environment.title}}</h1>
        
        <!--old standard HTML code used before bootstrap button to add more polish-->
          <!-- <h3 class = "text-uppercase font weight-bold"><a href = "">menu</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">locations</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">reservations</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">checkout</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">about</a></h3>
          -->
          
          <!--LINK BUTTONS: BOOTSTRAP-->
            <a class="btn btn-primary text-uppercase font-weight-bolder paddingX margin-right" href="" role="button">menu</a>
            <a class="btn btn-primary text-uppercase font-weight-bolder paddingX margin-right" routerLink = "locations" role="button">locations</a>
            <a class="btn btn-primary text-uppercase font-weight-bolder paddingX margin-right" routerLink = "reservations" role="button">reservations</a>
            <a class="btn btn-primary text-uppercase font-weight-bolder paddingX margin-right" href="" role="button">checkout</a>
            <a class="btn btn-primary text-uppercase font-weight-bolder paddingX margin-right" href="" role="button">about</a>
        </div>

    </div>
  </header>