.container-fluid
{
    background-color: orange;
    color: rgb(255, 255, 255);
    position: sticky;
}

.btn
{
    background-color: rgb(60, 150, 230);
    color: rgb(255,255,255);
}

.btn-primary:hover 
{
    border: 2px solid turquoise;
}
  
.paddingX
{
    padding:5px;
}

.margin-right
{
    margin: 10px;
}

.margin-left
{
    margin: 2px;
}
