<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">{{ title }}</h5>
        <h6>
          Opening Hours
        </h6>
        <ul>
          <li>LUNCH</li>
          <li>Saturday and Sunday</li>
          <li>Bookings 12pm to 1.30pm</li>
          <li>DINNER</li>
          <li>Thursday to Sunday</li>
          <li>Bookings 6pm to 8.45pm</li>
        </ul>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li> <a href="#!">Menu</a> </li>
            <li> <a href="#!">Locations</a> </li>
            <li> <a href="#!">Instagram</a> </li>
            <li> <a href="#!">Backstory</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="#">{{ title }}</a> </div>
</footer>
