<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 padding-ten">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Backstory</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, tempora deserunt! Ratione ipsa
          repellendus unde magni, aperiam nihil iure consectetur, alias veniam praesentium libero iste! Sequi ullam,
          quidem aliquam beatae nam similique asperiores ad accusantium, aperiam natus debitis ex eum tempora maxime
          delectus illum? Consectetur sint at reprehenderit aut! Quia!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3 padding-ten">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3 padding-ten">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Links</h5>
        <p><a href="">Home</a></p>
        <p><a href="">Menu</a></p>
        <p><a href="">Locations</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: CodeLabs Restaurant</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->