<!-- Footer -->
<footer class="page-footer font-small teal pt-4 margin-top">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 padding-ten">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Backstory</h5>
        <p>Founded in 2020 by a CodeLabs group! <br> 
        We're dedicated to providing you a variety of the best all-American cuisine there is, with sustainability!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3 padding-ten">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3 padding-ten">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Links</h5>
        <p routerLink="">Home</p>
        <p><a routerLink="menu">Menu</a></p>
        <p><a routerLink="locations">Locations</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: CodeLabs Restaurant</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->