<div class = "container">
<div> <h1 class = "heading"> ABOUT US </h1></div>
<p id = "about" style="line-height: 2;"> 
    Founded in 2020, Code Labs Restaurant specializes in the best American comfort food there is. 
    We pride ourselves in being sustainable, and environmentally friendly.
    Every burger, salad and sandwich we make starts by working closely with local farmers & partners.
    We take as much pride in preparing and cooking our food as we do in getting to know the farmers who grow it. We cook fresh, and we serve fresh.
    So whether you are health-conscious, environmentally conscious, or simply love great food, we’ve got something on our menu that will make you smile.  </p>

<div><h1 class = "heading" > MISSION</h1></div>
<p id ="statement" style="line-height: 2;">
    To pride ourselves to provide sustainable, environmentally consicous, and fresh food to everyone, 
    at an affordable price. We want to lower the amount of people who go hungry. Any food leftover instead 
    of going to the trash, we donate it to homeless shelters, and food pantries.
</p>

<img src="https://media3.giphy.com/media/yxVRIRF0WJUkBckw8g/source.gif" alt="This will display a gif" class = "gif"/>
</div>

