/*.center{
    display: flex;
    justify-content: center;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }*/
  #title{
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold; 
    font-size:50px;
   

  }
  .title{
    text-align:center;
    text-decoration: underline;

  }
