
<div class = "container">
<h1 id = "title"><img src ="https://media.tenor.com/images/d8710d124cd8bdb82e24b51634502a5c/tenor.gif" alt = "This will display a gif" /> MENU <img src ="https://media.tenor.com/images/d8710d124cd8bdb82e24b51634502a5c/tenor.gif" alt = "This will display a gif"/></h1>
<p><strong>V = Vegan, GF=Gluten Free</strong></p>

<div class = "row">
<div class="col-md-6" style="height: 1000px; background-color: bisque">
    <h2 class = "title"> Appetizers</h2>
    <ul type="square" class = "lists">
    <li>Chicken Fingers<br>Buttermilk-fried organic chicken breast<br>$5</li>
    <li>Cripsy Brussel Sprouts V,GF<br>Parmasean cheese, lemon, sea salt<br>$5 </li>
    <li>Pigs in a Blanket<br>Four mini sausages wrapped up in baked dough<br>$5</li>
    <li>Cali Fresh Salad V, GF<br>Baby greens, quinoa, red pepper, hummus,red onions, grape tomatos,lemon tahini dressing<br>$6</li>
    </ul>

    <h2 class= "title">Main Dishes</h2>
    <ul type ="square" class = "lists">
    <li>Impossible Melt V<br>Quarter pound impossible patty,american cheese,caramlized onions,grain toast with special sauce <br>$12</li>
    <li>Wake Up Call V<br>Quarter pounder beyond meat patty, plant based egg american cheese,mayo,brioche<br>$12</li>
    <li>The Original V<br>Quarter pound impossible patty, gouda cheese,lettuce,red onion,pickles,special sauce<br>$12</li>
    <li>El Matador<br>Grass fed beef, queso fresco, green leaf, guacamole, pico de gallo<br>$12</li>
    <li>Standard<br>Grass fed beef,colby cheese,caramlized onions,pickles, special sauce<br>$12</li>
    <li>Flamin' Bacon<br>Grass fed beef,colby cheese,natural smoke bacon,haberno bacon,brioche bun<br>$13</li>
    </ul>
</div>
<div class="col-md-6" style="height: 1000px; background-color:bisque;">

    <h2 class ="title">Sides</h2>
    <ul type ="square" class ="lists">
    <li>Baby Green Salad V GF<br >$5</li>
    <li>Sweet Potato Fries<br>$4</li>
    <li>Waffle,Regular,Curly Fries<br>$3</li>
    <li>Chips and Guac<br>$6</li>
    <li>Onion Rings<br>$4</li>
    <li>Dill Pickles<br>$3</li>
    </ul>

    <h2 class = "title">Beverages</h2>
    <ul type ="square" class ="lists">
    <li>Organic Unsweetened Teas V GF<br>Classic, peach, strawberry hibiscus<br>$3</li> 
    <li>Organic Lemonade<br>$3</li>
    <li>Soda<br> Cola,Diet Cola,Ginger-ale,rootbeer<br>$3</li>
    </ul>

    <h2 class ="title">Desserts</h2>
    <ul type ="square">
    <li>Flourless Chocolate Cake<br>$4</li>
    <li>Milkshake<br>strawberry,chocolate,vanilla,cookies and cream<br>$5</li>
    <li>Smores Sundae<br>Marshmallow,graham crackers,chocolate sauce, vanilla icecream<br>$6</li>
    <li>Icecream<br>strawberry,chocolate,vanilla, cookies and cream, lime rasberry sorbet (V)<br>$4</li>
    </ul>
</div>

</div>