<!--<reservations-->

<div class="container-fluid text-center">
  <!--reservation title-->
  <!--md for desktop formatting, mt for margin top-->
  <div class="row paddingX">
    <h2>{{reservationTitle}}</h2>
  </div>
  <!--reservation title-->
</div>

<div class="container-fluid-2 text-left">
  <div class="row margin-left paddingX2">
    <p>make a reservation with the form below! enter your name, location, and time:</p>
  </div>
</div>

<!--FORM FOR RESERVATIONS-->
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Location">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Time">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>
<!--FORM FOR RESERVATIONS-->

<!--reservations-->