.container-fluid
{
    background-color: rgb(83, 235, 83);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 1px 2.5px black;
} 

.container-fluid-2
{
    background-color: rgb(55,215,210);
    color: rgb(0, 0, 0);
    min-width: 100vw;
    min-height: 100vh;
}

.description
{
   text-transform: uppercase;
}

/*
.margin-left
{
    margin-left: 7.5px;
}
*/

.margin-top
{
    margin: 1px;
}

.paddingX
{
 padding: 2.5px;
}

.paddingX2
{
 padding: 150px;
}

